:root {
  --primary-color: white;
  --secondary-color: black;
  --accent-color-1: rgb(183, 28, 28);
  --accent-color-2: #1a237e;
  --accent-color-3: #fffde7;
  --background-color: #fff176;
  --background-accent: rgba(211, 211, 211, 0.8);
  --primary-font: monaco,Consolas,Lucida Console,monospace; 
  --breadcrumb-font-size: 20px;
  --hero-font-size: 25px;
  --card-font-size: 20px;
  --myButton-font-size: 20px;
  --results-font-size: 20px;
  --mySaved-font-size: 20px;
  --pageHeading-font-size: 30px;
  --pageResults-font-size: 30px;

  /* Materialize styles */
  --materialize-Card: #fffde7;
}



body {
  background:var(--background-color);
  }
  
  main {
    font-family: var(--primary-font);
  }

.card-panel {
    background-color: var(--materialize-Card);
    color: var(--accent-color-2)
  }
  
.hero {
  font-family: var(--primary-font);
  text-align: center;
  background-color: var(--accent-color-3);
  color: var(--accent-color-2);
  font-size: var(--hero-font-size);
}

.card {
  text-align: center;
  font-size: var(--card-font-size);
  background-color: var(--primary-color);
}

.form-input {
  font-size: 25px;
  color: var(--accent-color-2);
}

.myButton {
  color: var(--secondary-color);
  font-size: var(--myButton-font-size);
  margin: 10px;
  line-height: 15px;
  padding: 5px;
  border-radius: 10px;
  font-family: var(--primary-font);
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background: var(--primary-color);;
  border: 2px solid var(--primary-color);
  display: inline-block;
}
.myButton:hover {
  background: var(--background-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.myButton:active {
  background: var(--background-color);
  color: var(--primary-color);;
  border: 2px solid var(--primary-color);
}

.results-panel {
  font-size: var(--results-font-size);
}


.library-thing {
  font-weight: bold;
  font-style: italic;
}

.open-library {
  font-weight: bold;
  font-style: italic;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-accent);
}

.modal {
  background-color: var(--secondary-color);
  display: inline-block;
  margin: 20% auto;
  width: 50%;
  padding: 1rem;
  border: 1px solid var(--primary-color);
}


:focus-visible {
  box-shadow: 0 0 0 3px var(--secondary-color);
  background-color: var(--background-color);
}

#author-name {
  font-size: var(--pageHeading-font-size);
}

.mySaved {
  color: var(--secondary-color);
  font-size: var(--results-font-size);
  margin: 10px;
  line-height: 15px;
  padding: 5px;
  border-radius: 10px;
  font-family: var(--primary-font);
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
}

.mySaved:hover {
  background: var(--background-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.mySaved:active {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.mySaved:focus {
  background: var(--background-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.myButton:focus {
  background: var(--background-color);
  color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}

#book-name {
  font-size: var(--pageHeading-font-size);
}

#edition-name {
  font-size: var(--pageHeading-font-size);
}

#breadcrumb {
  text-align: center;
}

#breadcrumb ol {
list-style: none;
display: inline-table;

}

#breadcrumb ol li {
display: inline;
  }

#breadcrumb ol li a {
  display: block;
  float: left;
  height: 50px;
  background: var(--accent-color-2);;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--background-color);
  padding: 30px 40px 50px 80px;
  position: relative;
  margin: 0 10px 10px 0;
  font-size: var(--breadcrumb-font-size);
  color: var(--background-color);
}

#breadcrumb ol li a:focus {
  display: block;
  float: left;
  height: 50px;
  background: var(--background-color);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  font-size: var(--breadcrumb-font-size);
  color: var(--secondary-color);
}

#breadcrumb ol li a:after {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid var(--accent-color-2);;
  position: absolute;
  right: -40px;
  top: 0;
  z-index: 1;
}

#breadcrumb ol li a:after:focus {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid var(--background-color);
  position: absolute;
  right: -40px;
  top: 0;
  z-index: 1;
}

#breadcrumb ol li a:before {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid var(--accent-color-3);
  position: absolute;
  left: 0;
  top: 0;
}

#breadcrumb ol li a:before:focus {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid var(--background-color);
  position: absolute;
  left: 0;
  top: 0;
}

#breadcrumb  ol li:first-child a {
	border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}
#breadcrumb ol li:first-child a:before {
	display: none; 
}

#breadcrumb ol li:last-child a {
	padding-right: 80px;
	border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
#breadcrumb ol li:last-child a:after {
	display: none; 
}

#breadcrumb ol li a:hover {
	background: var(--background-color);
  color: var(--accent-color-2);
  border: var(--accent-color-2);
  text-decoration: underline;
  text-decoration-color: var(--accent-color-2); 
}
#breadcrumb ol li a:hover:after {
		border-left-color: var(--secondary-color);
    color: var(--accent-color-2);
    border: var(--accent-color-2);
    text-decoration: underline;
    text-decoration-color: var(--accent-color-2);
	}

#book-results a {
  color: var(--accent-color-2);
  text-decoration: var(--primary-color);
  text-decoration: underline;
}

#book-results a:focus {
  color: var(--accent-color-2);
  text-decoration: var(--secondary-color);
  text-decoration: underline;
}

#book-results a:hover {
  color: var(--accent-color-2);
  text-decoration: var(--accent-color-2);
  text-decoration: underline;
}
        
#saved-items {
  color: var(--secondary-color);
}

footer h2 {
  text-align: center;
  color: var(--accent-color-2);
}

#saved-items-form {
  text-align: center;
}

#clear-items-form {
  text-align: center;
}

.mySaved {
  padding: 10px;
  background-color: var(--accent-color-2);
  color: var(--accent-color-3);
}

.myButton {
  padding: 10px;
  background-color: var(--accent-color-2);
  color: var(--accent-color-3);
}

#book-results p {
  font-size: var(--pageResults-font-size);
}

  #book-results a:hover {
    color: var(--accent-color-2);
    text-decoration: var(--accent-color-2);
    background-color: var(--background-color);
    text-decoration: underline;
}   

#save-results {
  text-align: center;
}

#book-results h4 {
  font-weight: bold;
}

input[type="text"] {
  font-size: 50px;
}

#previous-page {
  color: var(--accent-color-2);
  background-color: var(--materialize-Card);  
}

#next-page {
  color: var(--accent-color-2);
  background-color: var(--materialize-Card);  
}

#previous-page:focus {
  color: var(--accent-color-2);
  box-shadow: none;
  background-color: var(--materialize-Card);
} 

#next-page:focus {
  color: var(--accent-color-2);
  box-shadow: none;
  background-color: var(--materialize-Card);
} 

#previous-page:hover {
  color: var(--background-color);
  background-color: var(--accent-color-3);
  text-decoration: var(--secondary-color);
  text-decoration: underline;
} 

#next-page:hover {
  color: var(--background-color);
  background-color: var(--accent-color-3);
  text-decoration: var(--secondary-color);
  text-decoration: underline;
} 


.style-adjustment {
  color: var(--secondary-color);
}

.input-field {
  background-color: var(--accent-color-3);
}

.select-wrapper ul {
  background-color: var(--accent-color-3);

}

.select-wrapper li span {
  color: var(--secondary-color);
}
